<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .main{
            background-image: url("{% static 'img/Rectangle 5.png' %}");
            height: 650px;
        }
    </style>
</head>
<body>
    <div class="main">
        <table>
            <tr>
                <th>name</th>
            </tr>
            <tr>
                <td>{{data.name}}</td>
                <td>{{data.email}}</td>
                <td>{{data.address}}</td>
            </tr>
        </table>
    </div>    
</body>
</html>