{% extends 'bankhome.html' %}
{% block content %}
{% load static %}

    <style>
        body{
            margin: 0;
            padding: 0;
        }
        table,td,th{
            
            border-collapse: collapse;
        }
        table{
            width: 100%;
        }
        th{
            padding: 10px;
            text-align: left;
        }
        td{
            padding: 10px;
            border-bottom: 1px solid black;
            
        }
        button{
            border-radius: 10px;
            background-color: rgb(91,248,196);
        }
        a{
            text-decoration: none;
            color: black;
        }
        .sidebar{
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30%;
            padding: 20px;
        }
        .sidebar img{
            width: 100%;
            height: auto;
        
        }
        .main2{
            width: 70%;
            padding: 20px;
            background-color: whitesmoke;
            
        }
        .containermain{
            display: flex;
        }
        @media screen and (max-width: 768px) {
            .containermain {
                flex-direction: column;
            }

            .sidebar {
                width: 100%;
                padding: 10px;
            }

            .main2 {
                width: 100%;
                padding: 10px;
            }

            table, th, td {
                font-size: 14px;
            }

            button {
                font-size: 14px;
            }
        }

        
        @media screen and (max-width: 480px) {
            .containermain {
                flex-direction: column;
            }

            .sidebar {
                width: 100%;
                padding: 10px;
            }

            .main2 {
                width: 100%;
                padding: 10px;
            }

            table, th, td {
                font-size: 12px;
            }

            th {
                padding: 5px;
            }

            td {
                padding: 5px;
                
            }

            button {
                font-size: 12px;
                padding: 5px;
            }

            td img {
                width: 40px;
                height: 40px;
            }

            button a {
                padding: 5px;
            }
        }
        
    </style>
    <div class="containermain">
      <div class="sidebar" >
          <img src="{% static 'img/Rectangle 1.png' %}" alt="">
      </div>
      <div class="main2">
        
        <table style="width: 100%;margin: 10px;">
            <tr>
                <th>sl.no</th>
                <th></th>
                <th style="text-align: center;">User Name</th>
                <th></th>
                <th></th>
            </tr>
            {% for i in user %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td><img style="border-radius: 50%;" src="{{i.image.url}}" alt=""height="50px" width="70px"></td>
                <td style="text-align: center;">{{i.name}}</td>
                <td><button><a href="{% url 'bankuser' id=i.id %}">View</a></button></td>
                <td><button><a href="{% url 'viewhistory' id=i.id %}">History</a></button></td>
            </tr>
            {% endfor %}
        </table>
      </div>
    </div>
{% endblock %}
