{% extends 'bankhome.html' %}
{% block content %}
{% load static %}

    <style>
        table,td,th{
            
            border-collapse: collapse;
        }
        table{
            width: 100%;
        }
        th{
            padding: 10px;
            text-align: left;
        }
        td{
            padding: 10px;
            
        }
        button{
            border-radius: 10px;
            background-color: rgb(91,248,196);
        }
        a{
            text-decoration: none;
            color: black;
        }
        .sidebar{
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30%;
            padding: 20px;
        }
        .sidebar img{
            width: 100%;
            height: auto;
        }
        .main2{
            width: 70%;
            padding: 20px;
            background-color: whitesmoke;
            
        }
        .containermain{
            display: flex;
        }
        
    </style>
    <div class="containermain">
      <div class="sidebar" >
          <img src="{% static 'img/Rectangle 1.png' %}" alt="">
      </div>
      <div class="main2">
        
        <table style="width: 100%;margin: 10px;">
            <tr>
                <th>sl.no</th>
                <th></th>
                <th>User Name</th>
                <th></th>
                <th></th>
            </tr>
            {% for i in user %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td><img style="border-radius: 50%;" src="{{i.image.url}}" alt=""height="50px" width="70px"></td>
                <td style="text-align: center;">{{i.name}}</td>
                <td><button><a href="{% url 'bankuser' id=i.id %}">View</a></button></td>
                <td><button><a href="{% url 'viewhistory' id=i.id %}">History</a></button></td>
            </tr>
            {% endfor %}
        </table>
      </div>
    </div>
    {% endblock %}
</body>
</html>