{% extends 'userhome.html' %}
{% block content %}
<style>
    .main3{
        background-color: rgb(91,248,196);
        padding: 20px;
        width: 60%;
        border-radius: 20px;
        margin-left: 20px;
        max-width: 800pox;
        
    }
    table{
        width: 100%;
        border-collapse: collapse;
        border-radius: 10px;
        overflow: hidden;
    }
    th{
        padding: 10px;
        text-align: left;
    }
    td{
        padding: 15px;
        border-bottom: 1px solid black;
    }
    @media screen and (max-width: 768px) {
    

    .container {
        width: 100%;
    }

    th,td {
        padding: 8px;
    }
}

@media screen and (max-width: 480px) {
    

    .container {
        width: 90%;
        padding: 10px;
    }

    table {
        font-size: 14px;
    }

    th,  td {
        padding: 5px;
    }
    
    td {
        display: block;
        text-align: left;
    }

    tr {
        display: block;
        margin-bottom: 10px;
    }




}
</style>
<div class="main3">     
     <table>
          <tr>
              <th>Sl no</th>
              <th>datetime</th>
              <th>amount</th>
              <th>balance</th>
              <th>details</th>
          </tr>
          {% for i in user %}
          <tr>
              <td>{{forloop.counter}}</td>
              <td>{{i.datetime}}</td>
              <td>{{i.amount}}</td>
              <td>{{i.balance}}</td>
              <td>{{i.details}}</td>
          </tr>
          {% endfor %}
      </table>
</div>  
    {% endblock %}
    
</body>
</html>