<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="userhome">Home</a>
    <h4 style="text-align: center;">{{data1.name}}</h4>
    <div>
       <p><img src="{{ data1.image.url }}" alt=""height="100px" width="100px"></p>
       <p>{{data1.email}}</p>
       <p>{{data1.address}}</p>
       <p>{{data1.age}}</p>
       <p>{{data1.adharcard}}</p>
    </div> 
    <div>
        <p>{{data1.user_id.username}}</p>
        <p>{{data1.dob}}</p>
        <p>{{data1.phone}}</p>
        <p>{{data1.pancard}}</p>
    </div>  

    <p><a href="{% url 'edit' id=data1.id %}">edit</a><p>
        <P><a href="more">more</a></P>
</body>
</html>