{% extends 'bankhome.html' %}
{% block content %}
{% load static %}
<style>
   body{
    margin: 0;
    padding: 0;
    background-image: url("{% static 'img/Rectangle 5.png' %}");
   } 
   .container1{
    
    height: 600px;
    
    
    
   } 
   table,td,th{
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: 50px;
    
    background-color: rgb(91,248,196);
    width: 50%;
    
   }
   td,th{
     
     padding: 20px;
     text-align: center;
   }
   table{
    margin-top: 20px;
   }
</style>
<div class="container1">  
  <table>
      <tr>
          <th colspan="3">Transaction History</th>
      </tr>
      <tr>
          
          <th>Amount</th>
          <th>details</th>
      </tr>
      {% for i in data1 %}
      <tr>
          
          <td>{{i.amount}}</td>
          <td>{{i.details}}</td>
        
      </tr>

      {% endfor %}
      
    
  </table>
</div>  

    
  {% endblock %}    
