<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .main{
        width: 40%;
        margin-left: 50px;
        background-color: rgb(125, 231, 92);
        text-align: center;
        
        border-radius: 10px;
        padding: 40px;
    }
    .main1{
        display: flex;
        justify-content: space-between;
    }
</style>
<body>
        <nav>
           <a href="profileview">viewprofile</a>
           <a href="userhome">Home</a>
        </nav>
        {% block content %}
        <div class="main1">       
          <div><h1>Horizon bank </h1></div>
          <div><h1>Horizon bank </h1></div>
          <div><h1>Horizon bank </h1></div>
        </div> 
        <div class="main">
            
            <p>account_no</p>
            <p>{{data1.account_no}}</p>
            <p>initial_amount</p>
            <p>{{data1.initial_amount}}</p>
            
        <div>
            <a href="logout">Logout</a>
        {% endblock %}    
    
</body>
</html>