    {% extends 'login.html' %}
    
    {% block content %}
    <style>
      .button2{
        margin-left: 45%;
        
      }
    </style>
  <div style="width: 70%;background-color: rgb(91,248,196);margin-right: 50px;margin-top: 20px;height: 400px;"> 
    <form action="register" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div style="display: flex;margin-left: 50px;">
          <div>
             <h6>Name</h6>
             <input type="text"name="name" required><br><br>
             <h6> Userame</h6>
             <input type="text"name="username" required><br><br>
             <h6>Password</h6>
             <input type="text"name="password" required><br><br>
             <h6>Account_no</h6>
             <input type="text"name="account_no" required><br><br>
          
          
             <h6>Image</h6>
             <input type="file"name="image" required><br><br>
             <h6>Address</h6>
             <input type="text"name="address" required><br><br>
             <h6>Age</h6>
             <input type="text" name="age" required><br><br>
           </div> 
           <div> 
             <h6>Email</h6>
             <input type="text"name="email" required><br><br>
             <h6>Age</h6>
             <input type="text"name="age" required><br><br>
             <h6>Phone</h6>
             <input type="text"name="phone" required><br><br>
             <h6>Dob</h6>
             <input type="date"name="dob" required><br><br>
             <h6>Adharcard_no</h6>
             <input type="text"name="adharcard" required><br><br>
             <h6>Pancard_no</h6>
             <input type="text"name="pancard" required><br><br>
             <h6>Initial_amount</h6>
             <input type="text"name="initial_amount" required><br><br>
        
             
          </div>
          
        </div> 
        <button class="button2" type="submit">Register</button> 
            <p style="margin-left: 110px;">Already have an account?
            <a style="text-decoration: none;" href="login">login</a></p>
        
    </form>
  </div>  
    {% endblock %}