<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="register" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="">Name</label>
        <input type="text"name="name" required><br><br>
        <label for="">Userame</label>
        <input type="text"name="username" required><br><br>
        <label for="">Password</label>
        <input type="text"name="password" required><br><br>
        <label for="">Account_no</label>
        <input type="text"name="account_no" required><br><br>
        <label for="">Image</label>
        <input type="file"name="image" required><br><br>
        <label for="">Address</label>
        <input type="text"name="address" required><br><br>
        <label for="">Email</label>
        <input type="text"name="email" required><br><br>
        <label for="">Age</label>
        <input type="text"name="age" required><br><br>
        <label for="">Phone</label>
        <input type="text"name="phone" required><br><br>
        <label for="">Dob</label>
        <input type="date"name="dob" required><br><br>
        <label for="">Adharcard_no</label>
        <input type="text"name="adharcard" required><br><br>
        <label for="">Pancard_no</label>
        <input type="text"name="pancard" required><br><br>
        <label for="">Initial_amount</label>
        <input type="text"name="initial_amount" required><br><br>
        <input type="text" name="user_type" required><br><br>
        <input type="submit">
    </form>
</body>
</html>