{% extends 'userhome.html' %}
{% block content %}
<style>
   body{
    margin: 0;
    padding: 0;
  }
  .responsive-div{
    background-color: rgb(91,248,196);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: 20%;
    margin-left: 10px;
  }
  @media (max-width: 768px){
    .responsive-div{
      width: 50%;
      margin-left: 5%;
    }
  }
  @media (max-width: 468px){
    .responsive-div{
      width: 50%;

    }
    input[type="text"]{
      width: 50%;
      padding: 10px;
      margin-bottom: 20px;
      border-radius: 5px;
      
    }
    
  }
   

</style>
  <div class="responsive-div">
    
    <form action="withdrow" method="post">
        {% csrf_token %}
        
        <h4>Withdrow</h4>
        <input style="border-radius: 5px;" type="text" name="amount" required><br><br>
        <input type="submit" name="withdrow" value="withdrow"> 
    </form>
  </div>  
{% endblock %}